---
import Layout from "@/layout/Layout.astro"
import { Button } from "@/components/ui/button"
import { Badge } from "@/components/ui/badge"
import { ArrowLeft } from "lucide-react"
import { projects } from "@/content/data"
---

<Layout title="Projects">
    <section class="w-full flex flex-col gap-y-6 animate-fade-up animate-once animate-ease-in-out">
        <a href="/">
            <Button variant={"outline"} className="cursor-pointer"><ArrowLeft/>Back</Button>
        </a>
        <h1 class="text-4xl font-bold">Projects</h1>
        {projects.map(data => (
            <a href={data.link} target={data.link !== "#" ? "_blank" : undefined} class="w-full p-4 border hover:border-primary/30 rounded-md bg-primary-foreground/50 duration-150">
                <div class="flex justify-between items-center">
                    <h1 class="text-lg font-semibold">{data.name}</h1>
                    <h1 class="text-lg font-semibold">{data.year}</h1>
                </div>
                <p class="text-muted-foreground text-sm mb-1">{data.desc}</p>
                <ul class="list-disc">
                    {data.details.map(item => (
                        <li class="list-outside ml-4 text-sm text-muted-foreground">{item}</li>
                    ))}
                </ul>
                <div class="flex flex-wrap items-center gap-2 mt-3">
                    {data.stack.map(item => (
                        <Badge variant={"outline"} className="rounded-full">{item}</Badge>
                    ))}
                </div>
            </a>
        ))}
    </section>
</Layout>
